@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: gray(100);
}

/**
 * Animation for blurring in and expanding an element.
 * This animation scales up the element from no size, removes the blur effect, and fades it in.
 */
@keyframes blur-in-expand {
  0% {
    transform: scale(0);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

/**
 * CSS class to apply the blur-in-expand animation.
 * The element will blur in, expand, and fade in over a duration of 0.5 seconds.
 */
.blur-in-expand {
  animation: blur-in-expand 0.5s linear both;
}
